{% extends 'home/base.html'%}

{% block body %}
    <!-- body content for home page -->
    <div class="container-fluid">
        <div class="col">
            <div class="col-xs-12" style="height:150px;"></div>
            <h1 class="display-1"><strong>YURoomie</strong></h1>
            <h2 class="display-4">find your ideal roommate.</h2>
        </div>
        <form class="form-inline" method="GET" value="{{ request.GET.get }}">
            <div class="col-9">
                <input type="search" name="q" class="form-control form-control-lg" id="mainSearchBar" aria-describedby="searchHelp" placeholder="Try &quot;village east&quot;" autocomplete="off">
            </div>
            <!-- ToDo: Disable form submit until user is signed in. Add a tooltip as well-->
            <div class="col-3">
                <button type="submit" class="btn btn-danger form-control-lg" id="mainSearchButton">Search</button>
            </div>
        </form>

        {% if latest_posts_list %}
            <ul>
            {% for room in latest_posts_list %}
                <li><a href="/r/{{ room.id }}/">{{ room.property_name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No rooms are available.</p>
        {% endif %}

    </div>
{% endblock %}
