{% extends 'base.html'%}

{% block body %}

<form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Profile</h3>
    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group row col-md-11">
                <label for="fName">First name</label>
                <input type="text" class="form-control" id="fName" value="{{user.first_name}}" required>
            </div>
            <div class="form-group row col-md-11">
                <label for="lName">Last name</label>
                <input type="text" class="form-control" id="lName" value="{{user.last_name}}" required>
            </div>
            <div class="form-group row col-md-11">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" value="{{user.email}}" required>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group row col-md-11">
                <label for="major">Major</label>
                <input type="text" class="form-control" id="major" value="{{profile.major}}" required>
            </div>
            <div class="form-group row col-md-11">
                <label for="year">Year of Study</label>
                <select id="gender" class="custom-select">
                    <option {% if profile.year == 1 %}selected{% endif %} value='1'>1</option>
                    <option {% if profile.year == 2 %}selected{% endif %} value='2'>2</option>
                    <option {% if profile.year == 3 %}selected{% endif %} value='3'>3</option>
                    <option {% if profile.year == 4 %}selected{% endif %} value='4'>4+</option>
                </select>
            </div>
            <div class="form-group row col-md-10">
            <label for="gender">Gender</label>
                <select id="gender" class="custom-select">
                    <option {% if profile.gender == 'm' %}selected{% endif %} value='m'>Male</option>
                    <option {% if profile.gender == 'f' %}selected{% endif %} value='f'>Female</option>
                    <option {% if profile.gender == 'o' %}selected{% endif %} value='o'>Other</option>
                </select>
            </div>
        </div>

        <button type=submit class="btn btn-lg btn-danger">Save Profile</button>
    </div>
</form>

{% endblock %}
